@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

input {
  width: 70%;
  border: 2px solid #EAF0F1;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

input:focus {
  border-color: #c0392b;
  box-shadow: 0px 0px 8px 0px #c0392b;
}

.main {
  background-color: #fc5c65;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.contentDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contentInputDiv {
  width: 40%;
  margin-top: 20px;
  margin-left: 80px;
}

.contentOutputDiv {
  width: 30%;
  height: 320px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .contentDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contentOutputDiv {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .contentInputDiv {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

}